{% extends './base/base.html' %}

{% block titulo %}
    Recuperar cuenta
{% endblock %}

{% block contenido %}
<div class="container-md">
    <div class="row align-items-center">
        <div class="col-0 col-sm-1 col-lg-2"></div>
        <div class="col-12 col-sm-10 col-lg-8 ">

            <form action="{{ url_for('recuperarPost') }}" method="POST">
                <div class="mb-3 mt-3 text-center">
                    <img src="{{ url_for('static', filename='images/user.png') }}" alt="img_usuario" width="110" height="110">
                </div>

                <div class="mb-3">
                    <label for="user" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="user" id="user" value="{{ user }}" aria-describedby="emailHelp">
                </div>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        {% for message in messages %}
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <div>{{ message }}</div>
                        {% endfor %} 
                    </div>
                    {% endif %}
                {% endwith %}

                <div class=" d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                </div>
              </form>

        </div>
        <div class="col-0 col-sm-1 col-lg-2"></div>
    </div>
    
</div>
{% endblock %}
