{% extends 'base/base.html' %}

{% block titulo %}
    INICIO
{% endblock %}

{% block contenido %}
    <h1>ESTE ES EL INDEX</h1>


    <div class="footer bg-light border-top">
        <div class="container">
            <div class="row mb-2 mt-2">
                <div class="col offset-lg-1 text-start">
                  <img src="https://sigedin.itp.edu.co/sigeitp/sigedin_excel/imagenes/Logo_ITP%20(1).png" alt="ITP" width="110" height="110">
                </div>
                <div class="col offset-lg-1 text-end">
                    <p class="fs-4 text-dark">Desarrolladores</p>
                    <p class="h6 text-secondary">Cordoba Botina James Estiven</p>
                    <p class="h6 text-secondary">Miranda Barragan Darien Manuel</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}